.breadcrumbs li {
  display: inline-block;
  padding-top: 1rem;
  text-transform: uppercase;
}

.breadcrumbs img {
  padding: 0 0.5rem;
}

.breadcrumbs li:last-child {
  font-weight: 700;
}

.breadcrumbs li:last-of-type img {
  display: none;
}
